Content/ParagonKallari/
Content/SoulCave/
*.umap
Saved/
Source/
Intermediate/
Content/StarterContent/
Content/SkeletonCrew/
Content/MCO_Mocap_Basics/
Content/Mannequin/
Content/Geometry/
Content/DynamicGrassLite/
Content/Assets/
Content/AnimStarterPack/
Content/AnimalVarietyPack/
Content/ThirdPerson/
*BuiltData.uasset
MCO_Mocap_Basics.png
*.log
Content/ThirdPersonBP/Maps/
